mixin promo(data)
    section.p-gap.promo(class='-'+data.type style=data.image && "background-image: url(" + data.image + ")" )
        .container.-narrow
            span.promo_title.h2= data.title
            .promo_content.text-content !{data.content}
            if ( data.btn_text )
                a(href="#" class=data.type === 'light' ? 'btn-dark' : 'btn-light').hero_btn= data.btn_text

