.promo{
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: row;
    @include bg;

    &-container {
        min-height: 350px;
        z-index: 1;
        position: relative;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 30px 0;

        > * {
            max-width: 100%; //fix IE overflow bug
        }
    }

    &.-light{
        background-color: $light;
        color: $dark;

        &:before{
            content: '';
            @include overlay;
            background: rgba($light, .4);
        }
    }

    &.-dark{
        background-color: $dark;
        color: $light;

        &:before{
            content: '';
            @include overlay;
            background: rgba($dark, .4);
        }
    }

    &.-primary{
        background: $primary-color;
    }

    &.-secondary{
        background: $secondary-color;
    }

    &.-tertiary{
        background: $tertiary-color;
    }

    &_title{
        margin-bottom: 0;
        font-weight: bold;
        @include createSize(40px);
    }

    &_content{
        margin: 25px 0 0;
    }

    &_btn{
        margin: 5px 5px 0;
    }

    &_btn-block{
        margin: 20px 0 0;
    }
}

