.header{
    display: block;
}

.navbar-wrap,
.navbar,
.navbar-brand,
.navbar-panel {
    transition: .25s all ease;
}

.navbar {
    background: $light;
    display: flex;
    color: $dark;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .2);
    width: 100%;

    & > .container {
        @include media-min(xl) {
            //width: 1360px;
        }
    }

    &_is-sticky {
        transform: translateY(-110%);
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;

        .navbar-inner {
            padding-top: 0;
        }

        &.-sticky {
            transform: translateY(0);
        }

        .navbar_fixed + & {
            display: none;
        }

        &.navbar_full-width {
            .navbar_panel, .navbar_contact-box-wrap {
                display: none;
            }
        }
    }

    &-inner {
    }

    &_block{
        position: relative;
        display: flex;
        align-items: center;
    }

    &_contact-box-wrap {
        @include media-min(xl) {
            //order: 1;
        }

        .navbar_fixed & {
            text-align: center;
            padding: 35px 15px;
        }
    }

    &_nav-wrap {
        padding: 0 20px;
        display: flex;
        align-items: flex-end;

        .navbar_full-width & {
            width: 100%;
        }
    }

    &_fixed {
        box-shadow: none;

        .navbar_panel {
            display: flex;
            position: fixed;
            left: 0;
            top: 0;
            right: 0;
            padding: 5px 15px;
            height: 70px;
            color: #3e454c;
            box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.11);
            background-color: $light;
            z-index: 999;

            .navbar-logo {
                font-size: 8px;
                padding: 0;
            }
        }
    }
}