doctype html
head(lang="en")
    meta(http-equiv="Content-Type", content="text/html", charset="utf-8")
    meta(name="viewport", content="width=device-width, maximum-scale=1.0, minimum-scale=1.0, initial-scale=1.0, user-scalable=0")
    title TAXI
    meta(name="author", content="")
    meta(name="description", content="")
    link(href="css/styles.css" rel="stylesheet")
    include ./modules


