script(defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBCwPiKP9rq9T3u3aGoqLf0MZ4LqTmwtZk&callback=module.mapInit" type="text/javascript")
script(src="js/libs.js")
script(src="js/main.js")
