.bg-parallax {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;

  &.-absolute {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: -100;
  }
}

.js-parallax {
  overflow: hidden;

  &_img {
    background-attachment: fixed;
    background-position: center 0;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100%;
  }

  &.-absolute {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -100;
  }
}