/*--------------------------------------/
 Alignment
--------------------------------------*/

._text-right{
    text-align: right;
}

._text-left{
    text-align: left;
}

._text-cetnter{
    text-align: center;
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}

/*--------------------------------------/
 Display
--------------------------------------*/

.md-hide {
    @include media(md) {
        display: none !important;
    }
}

.-hidden {
    display: none;
}

.-hide{
    display: none !important;
}

/*--------------------------------------/
 Flex
--------------------------------------*/

.flex-box{
    display: flex;
}

.h-center, .h-start, .h-end, .h-between, .h-around,
.v-center, .v-start, .v-end, .v-between, .v-around{
    @extend .flex-box;
}

.h-center{
    justify-content: center;
}

.h-start{
    justify-content: flex-start;
}

.h-end{
    justify-content: flex-end;
}

.h-around{
    justify-content: space-around;
}

.h-between{
    justify-content: space-between;
}

.v-center{
    align-items: center;
}

.v-start{
    align-items: flex-start;
}

.v-end{
    align-items: flex-end;
}

.v-around{
    align-content: space-around;
}

.v-between{
    align-content: space-between;
}

/*--------------------------------------/
 Background
--------------------------------------*/

.-bg-white {
    background-color: $light;
}

.-bg-primary {
    background-color: $primary-color;
}

.-bg-city {
    background-image: url('../img/bg-image.png');
    background-position: bottom;
    background-repeat: repeat-x;
}

.-bg-airport {
    background-image: url('../img/bg-image-3.png'), url('../img/bg-image-2.png');
    background-position: bottom left, top right;
    background-repeat: no-repeat;
}

/*--------------------------------------/
 Text colors
--------------------------------------*/

.text-white {
    color: $light;
}