html
    include ./templates/head
    body
        +top-banner-bar
        .wrapper
            +header({active: 'autopark'})
            main.content
                +hero({
                    class: '-small',
                    image: 'img/tmp/hero-2.jpg',
                    title: 'Автопарк',
                    heading_class: 'h1'
                })
                .container.m-gap

            +footer
            +feedback
    include ./templates/scripts