extends templates/layout
block content
    body
        +top-banner-bar
        .wrapper
            +header({active: 'rates'})
            main.content
                +hero({
                    class: '-small',
                    image: 'img/tmp/hero-1.jpg',
                    title: 'Тарифы',
                    heading_class: 'h1'
                })
                .container
                    div.m-gap(data-module="tabs")
                        ul.tabs
                            li.tab.-active
                                a.tab_link(href="#airport" data-js="trigger") Аэропорт
                            li.tab
                                a.tab_link(href="#railway" data-js="trigger") Ж/Д Вокзал
                        div.tabs-content
                            .tab-pane.-active(id="airport")
                                +table()
                            .tab-pane(id="railway")
                                +table()
            +footer
            +feedback