mixin logo(data)
    .logo.logo-container
        a.logo_link(href="/")
            img(src=data.footer ? "img/logo/logo-white.png" : "img/logo/logo.png" alt="")
        .logo-text
            span.logo-label 24/7
            span.logo-sub-label сервис вызова авто
