mixin anchor-link()
    button(data-target="#bottom" data-module="anchorLink").btn-dark.-hollow.-small Go to bottom button!
    br
    br
    a(href="#bottom" data-module="anchorLink").link Go to bottom link!
