mixin search()
    .search(data-module="search")
        button.search_btn.btn-pure(data-js="btn")
            i.fa.fa-search
        form.search-form(data-js="form")
            input.search-form_input(type="text" data-js="input" placeholder="Search...")