$hero: (
        large: 600px,
        medium: 400px,
        small: 300px
);

.hero{
    display: flex;
    flex-direction: row;
    @include bg;
    position: relative;
    color: $light;

    &:before{
        content: '';
        @include overlay();
        background: rgba(#000, .5);
    }

    .hero-container{
        z-index: 1;
        position: relative;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 30px 0;

        > * {
            max-width: 100%; //fix IE overflow bug
        }
    }

    &.-large{
        .hero-container{
            box-sizing: border-box;
            min-height: calc(100vh - 220px);

            @include media(md) {
                min-height: calc(100vh - 170px);
            }
        }
    }

    &.-medium{
        .hero-container {
            min-height: map-get($hero, 'medium');
        }
    }

    &.-small{
        .hero-container {
            min-height: map-get($hero, 'small');
        }
    }

    &_content{
        margin: 10px 0;
    }

    &_btn{
        margin: 5px 5px 0;
    }

    &_btn-block{
        margin: 10px 0 0;
    }
}