mixin sitemap()
    section.sitemap.p-gap
        h1.h2 Sitemap
        ul.sitemap_list
            li
                a(href="/home.html") Home
            li
                a(href="/contacts.html") Contacts
            li
                a(href="/about.html") About
            li
                a(href="/services.html") Services
            li
                a(href="/rates.html") Rates
            li
                a(href="/autopark.html") Car Park
            li
                a(href="/search-results.html") Search result
            li
                a(href="/404.html") 404 Page not found
            li
                a(href="/blogpost.html") Blogpost
            li
                hr
            li
                a(href="/hero-page.html") Hero
            li
                a(href="/promo-page.html") Promo
            li
                a(href="/lane-page.html") Lane
            li
                a(href="/card-page.html") Card
            li
                a(href="/overview-page.html") Overview
            li
                a(href="/styleguide-page.html") Styleguide
            li
                a(href="/components-page.html") Components
            li
                a(href="/wysiwyg-page.html") Wysiwig
            li
                a(href="/form-page.html") Form

