// Custom icons
$icon-arrow-down                        :"\e001";
$icon-email                             :"\e002";
$icon-check                             :"\e003";
$icon-baggage                           :"\e004";
$icon-wifi                              :"\e005";
$icon-waiting                           :"\e006";
$icon-price                             :"\e007";
$icon-conditioner                       :"\e008";
$icon-percentage                        :"\e009";
$icon-sedan                             :"\E00a";
$icon-universal                         :"\E00b";
$icon-micro                             :"\E00c";
$icon-star                              :"\E00d";
$icon-crown                             :"\E00e";
$icon-user-with-plate                   :"\E00f";
$icon-paw                               :"\E010";
$icon-snowflake                         :"\E011";
$icon-no-smoking                        :"\E012";
$icon-silence                           :"\E013";


// Thin icons
$icon-thin-volume-on                    :'\e100';
$icon-thin-gift                         :'\e101';
$icon-thin-cup                          :'\e102';
$icon-thin-folder                       :'\e103';
$icon-thin-dublicate                    :'\e104';
$icon-thin-tag                          :'\e105';
$icon-thin-chat                         :'\e106';
$icon-thin-clock                        :'\e107';
$icon-thin-microphone                   :'\e108';
$icon-thin-map-marker                   :'\e109';
$icon-thin-mobile                       :'\e10a';
$icon-thin-cloud-charge                 :'\e10b';
$icon-thin-resize                       :'\e10c';
$icon-thin-cake                         :'\e10d';
$icon-thin-case                         :'\e10e';
$icon-thin-address                      :'\e10f';
$icon-thin-phone-support                :'\e110';
$icon-thin-fullscreen                   :'\e111';
$icon-thin-db                           :'\e112';
$icon-thin-music                        :'\e113';
$icon-thin-network                      :'\e114';
$icon-thin-db-network                   :'\e115';
$icon-thin-dropbox-upload               :'\e116';
$icon-thin-phone-call                   :'\e117';
$icon-thin-briefcase-2                  :'\e118';
$icon-thin-card                         :'\e119';
$icon-thin-support                      :'\e11a';
$icon-thin-pull                         :'\e11b';
$icon-thin-desktop                      :'\e11c';
$icon-thin-pass                         :'\e11d';
$icon-thin-picture                      :'\e11e';
$icon-thin-email                        :'\e11f';
$icon-thin-push                         :'\e120';
$icon-thin-house                        :'\e121';
$icon-thin-download                     :'\e122';
$icon-thin-storage                      :'\e123';
$icon-thin-milk                         :'\e124';
$icon-thin-external-right               :'\e125';
$icon-thin-email-open                   :'\e126';
$icon-thin-planet                       :'\e127';
$icon-thin-pointer                      :'\e128';
$icon-thin-email-search                 :'\e129';
$icon-thin-external-left                :'\e12a';
$icon-thin-shirt                        :'\e12b';
$icon-thin-document-edit                :'\e12c';
$icon-thin-document-delete              :'\e12d';
$icon-thin-money                        :'\e12e';
$icon-thin-eye                          :'\e12f';
$icon-thin-settings                     :'\e130';
$icon-thin-arrow-bottom-right           :'\e131';
$icon-thin-arrow-right                  :'\e132';
$icon-thin-flag                         :'\e133';
$icon-thin-star                         :'\e134';
$icon-thin-calculator                   :'\e135';
$icon-thin-safe                         :'\e136';
$icon-thin-cart                         :'\e137';
$icon-thin-bullhorn                     :'\e138';
$icon-thin-anchor                       :'\e139';
$icon-thin-globe                        :'\e13a';
$icon-thin-statistics                   :'\e13b';
$icon-thin-thumb-up                     :'\e13c';
$icon-thin-headphones                   :'\e13d';
$icon-thin-bell                         :'\e13e';
$icon-thin-study                        :'\e13f';
$icon-thin-cart-add                     :'\e140';
$icon-thin-cart-delete                  :'\e141';
$icon-thin-satelite                     :'\e142';
$icon-thin-home                         :'\e143';
$icon-thin-time                         :'\e144';
$icon-thin-book                         :'\e145';
$icon-thin-bookmark                     :'\e146';
$icon-thin-key                          :'\e147';
$icon-thin-timer                        :'\e148';
$icon-thin-saturn                       :'\e149';
$icon-thin-notes                        :'\e14a';
$icon-thin-ambulance                    :'\e14b';
$icon-thin-briefcase                    :'\e14c';
$icon-thin-layers                       :'\e14d';
$icon-thin-delivery                     :'\e14e';
$icon-thin-tint                         :'\e14f';
$icon-thin-trash                        :'\e150';
$icon-thin-lightbulb                    :'\e151';
$icon-thin-calendar                     :'\e152';
$icon-thin-chart                        :'\e153';
$icon-thin-documents                    :'\e154';
$icon-thin-checklist                    :'\e155';
$icon-thin-camera-web                   :'\e156';
$icon-thin-camera                       :'\e157';
$icon-thin-lock                         :'\e158';
$icon-thin-umbrella                     :'\e159';
$icon-thin-user                         :'\e15a';
$icon-thin-love                         :'\e15b';
$icon-thin-hanger                       :'\e15c';
$icon-thin-car                          :'\e15d';
$icon-thin-cloth                        :'\e15e';
$icon-thin-box                          :'\e15f';
$icon-thin-attachment                   :'\e160';
$icon-thin-cd                           :'\e161';
$icon-thin-love-broken                  :'\e162';
$icon-thin-volume-off                   :'\e163';