//.icon-xxxxx      { font-size: 1em; &:before { content: "\xxxx"; font-size: to-em(); } }

.icon-arrow-down:before                     {  content: $icon-arrow-down;  }
.icon-email:before                          {  content: $icon-email;  }
.icon-check:before                          {  content: $icon-check;  }
.icon-baggage:before                        {  content: $icon-baggage;  }
.icon-wifi:before                           {  content: $icon-wifi;  }
.icon-waiting:before                        {  content: $icon-waiting;  }
.icon-price:before                          {  content: $icon-price;  }
.icon-conditioner:before                    {  content: $icon-conditioner;  }
.icon-percentage:before                     {  content: $icon-percentage;  }
.icon-sedan:before                          {  content: $icon-sedan; font-size: 0.45em;  }
.icon-universal:before                      {  content: $icon-universal; font-size: 0.5em;  }
.icon-micro:before                          {  content: $icon-micro; font-size: 0.5em;  }
.icon-star:before                           {  content: $icon-star; }
.icon-crown:before                          {  content: $icon-crown; font-size: 0.75em;  }
.icon-user-with-plate:before                {  content: $icon-user-with-plate;  }
.icon-paw:before                            {  content: $icon-paw;  }
.icon-snowflake:before                      {  content: $icon-snowflake;  }
.icon-no-smoking:before                     {  content: $icon-no-smoking;  }
.icon-silence:before                        {  content: $icon-silence;  }


// Thin Icons
.thin-icon-volume-on:before                 {  content: $icon-thin-volume-on;  }
.thin-icon-gift:before                      {  content: $icon-thin-gift;  }
.thin-icon-cup:before                       {  content: $icon-thin-cup;  }
.thin-icon-folder:before                    {  content: $icon-thin-folder;  }
.thin-icon-dublicate:before                 {  content: $icon-thin-dublicate;  }
.thin-icon-tag:before                       {  content: $icon-thin-tag;  }
.thin-icon-chat:before                      {  content: $icon-thin-chat;  }
.thin-icon-clock:before                     {  content: $icon-thin-clock;  }
.thin-icon-microphone:before                {  content: $icon-thin-microphone;  }
.thin-icon-map-marker:before                {  content: $icon-thin-map-marker;  }
.thin-icon-mobile:before                    {  content: $icon-thin-mobile;  }
.thin-icon-cloud-charge:before              {  content: $icon-thin-cloud-charge;  }
.thin-icon-resize:before                    {  content: $icon-thin-resize;  }
.thin-icon-cake:before                      {  content: $icon-thin-cake;  }
.thin-icon-case:before                      {  content: $icon-thin-case;  }
.thin-icon-address:before                   {  content: $icon-thin-address;  }
.thin-icon-phone-support:before             {  content: $icon-thin-phone-support;  }
.thin-icon-fullscreen:before                {  content: $icon-thin-fullscreen;  }
.thin-icon-db:before                        {  content: $icon-thin-db;  }
.thin-icon-music:before                     {  content: $icon-thin-music;  }
.thin-icon-network:before                   {  content: $icon-thin-network;  }
.thin-icon-db-network:before                {  content: $icon-thin-db-network;  }
.thin-icon-dropbox-upload:before            {  content: $icon-thin-dropbox-upload;  }
.thin-icon-phone-call:before                {  content: $icon-thin-phone-call;  }
.thin-icon-briefcase-2:before               {  content: $icon-thin-briefcase-2;  }
.thin-icon-card:before                      {  content: $icon-thin-card;  }
.thin-icon-support:before                   {  content: $icon-thin-support;  }
.thin-icon-pull:before                      {  content: $icon-thin-pull;  }
.thin-icon-desktop:before                   {  content: $icon-thin-desktop;  }
.thin-icon-pass:before                      {  content: $icon-thin-pass;  }
.thin-icon-picture:before                   {  content: $icon-thin-picture;  }
.thin-icon-email:before                     {  content: $icon-thin-email;  }
.thin-icon-push:before                      {  content: $icon-thin-push;  }
.thin-icon-house:before                     {  content: $icon-thin-house;  }
.thin-icon-download:before                  {  content: $icon-thin-download;  }
.thin-icon-storage:before                   {  content: $icon-thin-storage;  }
.thin-icon-milk:before                      {  content: $icon-thin-milk;  }
.thin-icon-external-right:before            {  content: $icon-thin-external-right;  }
.thin-icon-email-open:before                {  content: $icon-thin-email-open;  }
.thin-icon-planet:before                    {  content: $icon-thin-planet;  }
.thin-icon-pointer:before                   {  content: $icon-thin-pointer;  }
.thin-icon-email-search:before              {  content: $icon-thin-email-search;  }
.thin-icon-external-left:before             {  content: $icon-thin-external-left;  }
.thin-icon-shirt:before                     {  content: $icon-thin-shirt;  }
.thin-icon-document-edit:before             {  content: $icon-thin-document-edit;  }
.thin-icon-document-delete:before           {  content: $icon-thin-document-delete;  }
.thin-icon-money:before                     {  content: $icon-thin-money;  }
.thin-icon-eye:before                       {  content: $icon-thin-eye;  }
.thin-icon-settings:before                  {  content: $icon-thin-settings;  }
.thin-icon-arrow-bottom-right:before        {  content: $icon-thin-arrow-bottom-right;  }
.thin-icon-arrow-right:before               {  content: $icon-thin-arrow-right;  }
.thin-icon-flag:before                      {  content: $icon-thin-flag;  }
.thin-icon-star:before                      {  content: $icon-thin-star;  }
.thin-icon-calculator:before                {  content: $icon-thin-calculator;  }
.thin-icon-safe:before                      {  content: $icon-thin-safe;  }
.thin-icon-cart:before                      {  content: $icon-thin-cart;  }
.thin-icon-bullhorn:before                  {  content: $icon-thin-bullhorn;  }
.thin-icon-anchor:before                    {  content: $icon-thin-anchor;  }
.thin-icon-globe:before                     {  content: $icon-thin-globe;  }
.thin-icon-statistics:before                {  content: $icon-thin-statistics;  }
.thin-icon-thumb-up:before                  {  content: $icon-thin-thumb-up;  }
.thin-icon-headphones:before                {  content: $icon-thin-headphones;  }
.thin-icon-bell:before                      {  content: $icon-thin-bell;  }
.thin-icon-study:before                     {  content: $icon-thin-study;  }
.thin-icon-cart-add:before                  {  content: $icon-thin-cart-add;  }
.thin-icon-cart-delete:before               {  content: $icon-thin-cart-delete;  }
.thin-icon-satelite:before                  {  content: $icon-thin-satelite;  }
.thin-icon-home:before                      {  content: $icon-thin-home;  }
.thin-icon-time:before                      {  content: $icon-thin-time;  }
.thin-icon-book:before                      {  content: $icon-thin-book;  }
.thin-icon-bookmark:before                  {  content: $icon-thin-bookmark;  }
.thin-icon-key:before                       {  content: $icon-thin-key;  }
.thin-icon-timer:before                     {  content: $icon-thin-timer;  }
.thin-icon-saturn:before                    {  content: $icon-thin-saturn;  }
.thin-icon-notes:before                     {  content: $icon-thin-notes;  }
.thin-icon-ambulance:before                 {  content: $icon-thin-ambulance;  }
.thin-icon-briefcase:before                 {  content: $icon-thin-briefcase;  }
.thin-icon-layers:before                    {  content: $icon-thin-layers;  }
.thin-icon-delivery:before                  {  content: $icon-thin-delivery;  }
.thin-icon-tint:before                      {  content: $icon-thin-tint;  }
.thin-icon-trash:before                     {  content: $icon-thin-trash;  }
.thin-icon-lightbulb:before                 {  content: $icon-thin-lightbulb;  }
.thin-icon-calendar:before                  {  content: $icon-thin-calendar;  }
.thin-icon-chart:before                     {  content: $icon-thin-chart;  }
.thin-icon-documents:before                 {  content: $icon-thin-documents;  }
.thin-icon-checklist:before                 {  content: $icon-thin-checklist;  }
.thin-icon-camera-web:before                {  content: $icon-thin-camera-web;  }
.thin-icon-camera:before                    {  content: $icon-thin-camera;  }
.thin-icon-lock:before                      {  content: $icon-thin-lock;  }
.thin-icon-umbrella:before                  {  content: $icon-thin-umbrella;  }
.thin-icon-user:before                      {  content: $icon-thin-user;  }
.thin-icon-love:before                      {  content: $icon-thin-love;  }
.thin-icon-hanger:before                    {  content: $icon-thin-hanger;  }
.thin-icon-car:before                       {  content: $icon-thin-car;  }
.thin-icon-cloth:before                     {  content: $icon-thin-cloth;  }
.thin-icon-box:before                       {  content: $icon-thin-box;  }
.thin-icon-attachment:before                {  content: $icon-thin-attachment;  }
.thin-icon-cd:before                        {  content: $icon-thin-cd;  }
.thin-icon-love-broken:before               {  content: $icon-thin-love-broken;  }
.thin-icon-volume-off:before                {  content: $icon-thin-volume-off;  }
