mixin wysiwyg()
    .container.m-gap
        h2.h2.-underline Wysiwyg elements
        section.text-content
            .row
                .col-6.col-sm-12
                    .row
                        .col-6.col-xs-12
                            h3 Headers
                            h1 h1 Header
                            h2 h2 Header
                            h3 h3 Header
                            h4 h4 Header
                            h5 h5 Header
                            h6 h6 Header
                            br
                        .col-6.col-xs-12
                            h3 Buttons
                            p.text-left
                                button.btn-default Left Button
                            p.text-center
                                button.btn-default Center Button
                            p.text-right
                                button.btn-default Right Button
                    h3 Quote
                    blockquote Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem deserunt dignissimos dolores error hic minima.
                    br
                    h3 Table
                    table
                        thead
                            tr
                                th Name
                                th Email
                                th Position
                        tbody
                            tr
                                td John
                                td john@exmple.com
                                td Developer
                            tr
                                td Mike
                                td mike@exmple.com
                                td QA
                            tr
                                td Steve
                                td steve@exmple.com
                                td Manager

                    br
                    h3 Image
                    img(src="img/hero.jpg" alt="")
                .col-6.col-sm-12
                    h3 Plain text
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus amet aperiam beatae dolore dolorem ducimus excepturi fugiat hic inventore ipsum itaque, laudantium nam nemo nulla, quae repudiandae ut voluptas voluptates.
                    br
                    h3 Regular list
                    ul
                        li Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        li Curabitur eget tortor rhoncus, viver.
                        li Fusce dictum nunc in odio gravida pulvinar.
                        li Integer posuere orci a purus sodales vulputate.
                        li Nam suscipit urna ac varius euismod.
                    br
                    h3 Number list
                    ol
                        li Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        li Curabitur eget tortor rhoncus, viver.
                        li Fusce dictum nunc in odio gravida pulvinar.
                        li Integer posuere orci a purus sodales vulputate.
                        li Nam suscipit urna ac varius euismod.
                    br
                    h3 Video
                    iframe(src="https://www.youtube.com/embed/cITN7lnCeFE" frameborder="0" height="315" width="100%")
