mixin typography()
    .container.m-gap
        h2.h2.-underline Typography

        .row
            .col-4.col-md-6.col-xs-12
                h3.h5 Base text
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus amet aperiam beatae dolore dolorem ducimus excepturi fugiat.
                br


                h3.h5 Bold text
                p
                    strong Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus amet aperiam beatae dolore dolorem ducimus excepturi fugiat.
                br


                h3.h5 Italic text
                p
                    i Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus amet aperiam beatae dolore dolorem ducimus excepturi fugiat.
                br

                h3.h5 Base link
                a(href="#").link Link
                br
                br
            .col-4.col-md-6.col-xs-12
                h3.h5 Primary text
                p.primary-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus amet aperiam beatae dolore dolorem ducimus excepturi fugiat.
                br


                h3.h5 Large text
                p.large-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus amet aperiam beatae dolore dolorem ducimus excepturi fugiat.
                br


                h3.h5 Small text
                p.small-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus amet aperiam beatae dolore dolorem ducimus excepturi fugiat.
                br

                h3.h5 Primary link
                a(href="#").link.-primary Link
                br
                br
            .col-4.col-md-12.example
                h1.h1 Header 1
                h2.h2 Header 2
                h3.h3 Header 3
                h4.h4 Header 4
                h5.h5 Header 5
                h6.h6 Header 6



