.video-block{
    display: block;
    width: 100%;
    position: relative;

    &_cover{
        @include bg;
        @include overlay;
        justify-content: center;
        align-items: center;
        display: flex;
        z-index: 1;

        &:before{
            content: '';
            @include overlay;
            background: rgba($dark, .2);
        }

        &:after{
            content: '';
            font-family: $fa-family;
            color: $light;
            font-size: 6em;
            transition: font-size .15s ease;
            cursor: pointer;
            position: relative;
        }

        &:hover:after{
            font-size: 6.3em;
        }

        iframe{
            display: none;
        }
    }

    &_inner{
        @include aspect-ratio(16, 9);
        width: 100%;

        & iframe{
            @include overlay;
        }
    }
}
