mixin video-block(data)
    .video-block(data-module="videoBlock")
        .video-block_inner
            if (data.cover)
                .video-block_cover(style="background-image: url(" + data.cover + ")" data-js="cover")
            if(data.autoplay)
                iframe(data-src=data.src + '?autoplay=1')
            else
                iframe(src=data.src)
