mixin social-block()
    section.social-block
        ul.social-block_list
            li
                a(href="/").social-link
                    i.fa.fa-twitter
            li
                a(href="/").social-link
                    i.fa.fa-facebook
            li
                a(href="/").social-link
                    i.fa.fa-instagram
            li
                a(href="/").social-link
                    i.fa.fa-vk