mixin filter-block()
    .filter-block(data-module="filterBlock")
        .filter-block_panel.box
            .filter-btn.-active(data-filter="all") Все
            .filter-btn(data-filter="1") Эконом-класс
            .filter-btn(data-filter="2") Комфорт-класс
            .filter-btn(data-filter="3") Бизнес-класс
        .filter-block_content
            ul.grid-3.filtr-container
                li.cell.filtr-item(data-category="1")
                    +card({
                        type: 'frame',
                        title: 'Hyundai Solaris',
                        bg_image: 'img/Hyundai_Solaris.jpg',
                        modal: 'modal-1'
                    })
                li.cell.filtr-item(data-category="2")
                    +card({
                        type: 'frame',
                        title: 'Shcoda Octavia',
                        bg_image: 'img/octavia-top1.jpg',
                        modal: 'modal-2'
                    })
                li.cell.filtr-item(data-category="3")
                    +card({
                        type: 'frame',
                        title: 'Ford Mondeo',
                        bg_image: 'img/ford_mondeo.jpg',
                        modal: 'modal-3'
                    })