.tabs{
    display: flex;
}

.tab{
    flex: 1 1 auto;
    margin: 0 0 -1px;
    font-weight: 600;
    text-align: center;
    color: $gray-dark;
    border: 1px solid transparent;

    &.-active{
        color: $primary-color;
        border: 1px solid $gray;
        border-top: 2px solid $primary-color;
        border-bottom: 1px solid $gray-light;

        .tab_link {
            opacity: 1;
        }
    }

    &_link {
        display: block;
        padding: 15px 25px;
        opacity: 0.7;
        font-size: 21px;

        &:hover{
            opacity: 1;
        }
    }

    &:first-child{
        margin-left: 0;
    }
}

.tabs-content{
    border-top: 1px solid $gray;
    padding-top: 30px;
}

.tab-pane{
    display: none;
    overflow: auto;

    &.-active{
        display: block;
    }
}