
.lane{
    display: flex;

    &.-primary{
        background: $primary-color;
        color: $light;
    }

    &.-secondary{
        background: $secondary-color;
        color: $light;
    }

    &.-tertiary{
        background: $tertiary-color;
        color: $light;
    }

    &.-left{
        .lane_block:first-child{
            order: 0;
        }
    }

    &.-right{
        .lane_block:first-child{
            order: 1;

            @include media(md) {
                order: 0;
            }
        }
    }

    &_title {
        max-width: 100%;
        font-weight: bold;
        @include createSize(40px);
    }

    &_block{
        min-height: 425px;
        display: flex;
        padding: 40px 40px 50px;

        @include media(xl) {
            min-height: 350px;
            padding: 25px;
        }

        @include media(md){
            min-height: 300px;
        }

        @include media(sm){
            min-height: 250px;
        }

        @include media(xs){
            min-height: 200px;
        }
    }

    &_content{
        margin-top: 20px;
        max-width: 100%;
    }

    &_btn-block{
        margin: 20px -5px -5px;
    }

    &_btn{
        margin: 5px 5px 0;
    }

    .map, .video-block, .video-block_inner{
        @include overlay;
    }
}

.lane-details{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
}

.lane-image{

    figure{
        @include overlay;
        @include bg;
    }

    img{
        max-width: 100%;
        align-self: center;
        justify-self: center;
        flex: 0 0 auto;
    }
}