mixin notification()
    .notification.-active(data-module="notification")
        .container
            .row.no-gutters.-middle
                p Kookfans gebruikt cookies om u een optimale gebruikerservaring te bieden.
                button(type="button").btn-link Cookies Verklaring
                button(type="button" data-js="close-btn").btn-green.-small Ja, ik accepteer cookies
