mixin footer()
    footer.footer
        .container.footer_main
            .row.-middle.-center
                .footer_block.col.col-md-6.col-xs-12
                    +logo({footer: true})
                .footer_block.col-3.col-md-6.col-xs-12
                    .contact-box
                        i.icon.thin-icon-phone-call
                        dl
                            dt Позвоните Нам:
                            dd
                            a(href="callto:#") +7(978) xxx xx xx
                .footer_block.col-4.col-md-6.col-xs-12
                    +social-block
        .footer_bottom
            p @2018
    +backstage