mixin table()
    div(data-module="highlightTable")
        table.cool-table(data-js="table")
            thead
                tr.head(data-js="stickyOnScroll")
                    th(data-col="col1")
                    th(data-col="col2") Sunday
                    th(data-col="col3") Monday
                    th(data-col="col4") Tuesday
                    th(data-col="col5") Wednesday
                    th(data-col="col6") Thursday
                    th(data-col="col7") Friday
                    th(data-col="col8") Saturday
            tbody
                tr
                    td(data-col="col1" data-value="Аэропорт Симферополя") Аэропорт  Симферополя
                    td(data-col="col2") 8:00 AM
                    td(data-col="col3") --
                    td(data-col="col4") --
                    td(data-col="col5") 8:00 AM
                    td(data-col="col6") --
                    td(data-col="col7") 5:00 PM
                    td(data-col="col8") 8:00 AM
                tr
                    td(data-col="col1" data-value="Ж/д вокзал Симферополя") Ж/д вокзал Симферополя
                    td(data-col="col2") 8:00 AM
                    td(data-col="col3") --
                    td(data-col="col4") --
                    td(data-col="col5") 8:00 AM
                    td(data-col="col6") --
                    td(data-col="col7") 5:00 PM
                    td(data-col="col8") 8:00 AM
                tr
                    td(data-col="col1" data-value="Ай-даниль") Ай-даниль
                    td(data-col="col2") 8:00 AM
                    td(data-col="col3") --
                    td(data-col="col4") --
                    td(data-col="col5") 8:00 AM
                    td(data-col="col6") --
                    td(data-col="col7") 5:00 PM
                    td(data-col="col8") 8:00 AM
                tr
                    td(data-col="col1" data-value="Алупка") Алупка
                    td(data-col="col2") 8:00 AM
                    td(data-col="col3") --
                    td(data-col="col4") --
                    td(data-col="col5") 8:00 AM
                    td(data-col="col6") --
                    td(data-col="col7") 5:00 PM
                    td(data-col="col8") 8:00 AM
                tr
                    td(data-col="col1" data-value="Алушта") Алушта
                    td(data-col="col2") 8:00 AM
                    td(data-col="col3") --
                    td(data-col="col4") --
                    td(data-col="col5") 8:00 AM
                    td(data-col="col6") --
                    td(data-col="col7") 5:00 PM
                    td(data-col="col8") 8:00 AM
                tr
                    td(data-col="col1" data-value="Андреевка") Андреевка
                    td(data-col="col2") 8:00 AM
                    td(data-col="col3") --
                    td(data-col="col4") --
                    td(data-col="col5") 8:00 AM
                    td(data-col="col6") --
                    td(data-col="col7") 5:00 PM
                    td(data-col="col8") 8:00 AM
                tr
                    td(data-col="col1" data-value="Армянск") Армянск
                    td(data-col="col2") 8:00 AM
                    td(data-col="col3") --
                    td(data-col="col4") --
                    td(data-col="col5") 8:00 AM
                    td(data-col="col6") --
                    td(data-col="col7") 5:00 PM
                    td(data-col="col8") 8:00 AM
                tr
                    td(data-col="col1" data-value="Балаклава") Балаклава
                    td(data-col="col2") 8:00 AM
                    td(data-col="col3") --
                    td(data-col="col4") --
                    td(data-col="col5") 8:00 AM
                    td(data-col="col6") --
                    td(data-col="col7") 5:00 PM
                    td(data-col="col8") 8:00 AM
                tr
                    td(data-col="col1" data-value="Бахчисарай") Бахчисарай
                    td(data-col="col2") 8:00 AM
                    td(data-col="col3") --
                    td(data-col="col4") --
                    td(data-col="col5") 8:00 AM
                    td(data-col="col6") --
                    td(data-col="col7") 5:00 PM
                    td(data-col="col8") 8:00 AM
                tr
                    td(data-col="col1" data-value="Белогорск") Белогорск
                    td(data-col="col2") 8:00 AM
                    td(data-col="col3") --
                    td(data-col="col4") --
                    td(data-col="col5") 8:00 AM
                    td(data-col="col6") --
                    td(data-col="col7") 5:00 PM
                    td(data-col="col8") 8:00 AM
                tr
                    td(data-col="col1" data-value="Береговое (ЮБК)") Береговое (ЮБК)
                    td(data-col="col2") 8:00 AM
                    td(data-col="col3") --
                    td(data-col="col4") --
                    td(data-col="col5") 8:00 AM
                    td(data-col="col6") --
                    td(data-col="col7") 5:00 PM
                    td(data-col="col8") 8:00 AM
                tr
                    td(data-col="col1" data-value="Береговое (бахчисарай)") Береговое (бахчисарай)
                    td(data-col="col2") 8:00 AM
                    td(data-col="col3") --
                    td(data-col="col4") --
                    td(data-col="col5") 8:00 AM
                    td(data-col="col6") --
                    td(data-col="col7") 5:00 PM
                    td(data-col="col8") 8:00 AM
                tr
                    td(data-col="col1" data-value="Ботанический сад") Ботанический сад
                    td(data-col="col2") 8:00 AM
                    td(data-col="col3") --
                    td(data-col="col4") --
                    td(data-col="col5") 8:00 AM
                    td(data-col="col6") --
                    td(data-col="col7") 5:00 PM
                    td(data-col="col8") 8:00 AM
                tr
                    td(data-col="col1" data-value="Вилино") Вилино
                    td(data-col="col2") 8:00 AM
                    td(data-col="col3") --
                    td(data-col="col4") --
                    td(data-col="col5") 8:00 AM
                    td(data-col="col6") --
                    td(data-col="col7") 5:00 PM
                    td(data-col="col8") 8:00 AM
                tr
                    td(data-col="col1" data-value="Витино") Витино
                    td(data-col="col2") 8:00 AM
                    td(data-col="col3") --
                    td(data-col="col4") --
                    td(data-col="col5") 8:00 AM
                    td(data-col="col6") --
                    td(data-col="col7") 5:00 PM
                    td(data-col="col8") 8:00 AM
                tr
                    td(data-col="col1" data-value="Гаспра") Гаспра
                    td(data-col="col2") 8:00 AM
                    td(data-col="col3") --
                    td(data-col="col4") --
                    td(data-col="col5") 8:00 AM
                    td(data-col="col6") --
                    td(data-col="col7") 5:00 PM
                    td(data-col="col8") 8:00 AM
                tr
                    td(data-col="col1" data-value="Геническ") Геническ
                    td(data-col="col2") 8:00 AM
                    td(data-col="col3") --
                    td(data-col="col4") --
                    td(data-col="col5") 8:00 AM
                    td(data-col="col6") --
                    td(data-col="col7") 5:00 PM
                    td(data-col="col8") 8:00 AM
                tr
                    td(data-col="col1" data-value="Голубой Залив") Голубой Залив
                    td(data-col="col2") 8:00 AM
                    td(data-col="col3") --
                    td(data-col="col4") --
                    td(data-col="col5") 8:00 AM
                    td(data-col="col6") --
                    td(data-col="col7") 5:00 PM
                    td(data-col="col8") 8:00 AM
                tr
                    td(data-col="col1" data-value="Гурзуф") Гурзуф
                    td(data-col="col2") 8:00 AM
                    td(data-col="col3") --
                    td(data-col="col4") --
                    td(data-col="col5") 8:00 AM
                    td(data-col="col6") --
                    td(data-col="col7") 5:00 PM
                    td(data-col="col8") 8:00 AM
                tr
                    td(data-col="col1" data-value="Гурзуф (Артек)") Гурзуф (Артек)
                    td(data-col="col2") 8:00 AM
                    td(data-col="col3") --
                    td(data-col="col4") --
                    td(data-col="col5") 8:00 AM
                    td(data-col="col6") --
                    td(data-col="col7") 5:00 PM
                    td(data-col="col8") 8:00 AM
                tr
                    td(data-col="col1" data-value="Даниловка") Даниловка
                    td(data-col="col2") 8:00 AM
                    td(data-col="col3") --
                    td(data-col="col4") --
                    td(data-col="col5") 8:00 AM
                    td(data-col="col6") --
                    td(data-col="col7") 5:00 PM
                    td(data-col="col8") 8:00 AM
                tr
                    td(data-col="col1" data-value="Джанкой") Джанкой
                    td(data-col="col2") 8:00 AM
                    td(data-col="col3") --
                    td(data-col="col4") --
                    td(data-col="col5") 8:00 AM
                    td(data-col="col6") --
                    td(data-col="col7") 5:00 PM
                    td(data-col="col8") 8:00 AM
                tr
                    td(data-col="col1" data-value="Евпатория") Евпатория
                    td(data-col="col2") 8:00 AM
                    td(data-col="col3") --
                    td(data-col="col4") --
                    td(data-col="col5") 8:00 AM
                    td(data-col="col6") --
                    td(data-col="col7") 5:00 PM
                    td(data-col="col8") 8:00 AM
                tr
                    td(data-col="col1" data-value="Заозерное") Заозерное
                    td(data-col="col2") 8:00 AM
                    td(data-col="col3") --
                    td(data-col="col4") --
                    td(data-col="col5") 8:00 AM
                    td(data-col="col6") --
                    td(data-col="col7") 5:00 PM
                    td(data-col="col8") 8:00 AM
                tr
                    td(data-col="col1" data-value="Зеленогорье") Зеленогорье
                    td(data-col="col2") 8:00 AM
                    td(data-col="col3") --
                    td(data-col="col4") --
                    td(data-col="col5") 8:00 AM
                    td(data-col="col6") --
                    td(data-col="col7") 5:00 PM
                    td(data-col="col8") 8:00 AM
                tr
                    td(data-col="col1" data-value="Золотое (Керчь)") Золотое (Керчь)
                    td(data-col="col2") 8:00 AM
                    td(data-col="col3") --
                    td(data-col="col4") --
                    td(data-col="col5") 8:00 AM
                    td(data-col="col6") --
                    td(data-col="col7") 5:00 PM
                    td(data-col="col8") 8:00 AM
                tr
                    td(data-col="col1" data-value="Казантип (Поповка)") Казантип (Поповка)
                    td(data-col="col2") 8:00 AM
                    td(data-col="col3") --
                    td(data-col="col4") --
                    td(data-col="col5") 8:00 AM
                    td(data-col="col6") --
                    td(data-col="col7") 5:00 PM
                    td(data-col="col8") 8:00 AM
                tr
                    td(data-col="col1" data-value="Канака") Канака
                    td(data-col="col2") 8:00 AM
                    td(data-col="col3") --
                    td(data-col="col4") --
                    td(data-col="col5") 8:00 AM
                    td(data-col="col6") --
                    td(data-col="col7") 5:00 PM
                    td(data-col="col8") 8:00 AM
                tr
                    td(data-col="col1" data-value="Кастрополь") Кастрополь
                    td(data-col="col2") 8:00 AM
                    td(data-col="col3") --
                    td(data-col="col4") --
                    td(data-col="col5") 8:00 AM
                    td(data-col="col6") --
                    td(data-col="col7") 5:00 PM
                    td(data-col="col8") 8:00 AM
                tr
                    td(data-col="col1" data-value="Кацивели") Кацивели
                    td(data-col="col2") 8:00 AM
                    td(data-col="col3") --
                    td(data-col="col4") --
                    td(data-col="col5") 8:00 AM
                    td(data-col="col6") --
                    td(data-col="col7") 5:00 PM
                    td(data-col="col8") 8:00 AM
                tr
                    td(data-col="col1" data-value="Кача") Кача
                    td(data-col="col2") 8:00 AM
                    td(data-col="col3") --
                    td(data-col="col4") --
                    td(data-col="col5") 8:00 AM
                    td(data-col="col6") --
                    td(data-col="col7") 5:00 PM
                    td(data-col="col8") 8:00 AM
                tr
                    td(data-col="col1" data-value="Керчь") Керчь
                    td(data-col="col2") 8:00 AM
                    td(data-col="col3") --
                    td(data-col="col4") --
                    td(data-col="col5") 8:00 AM
                    td(data-col="col6") --
                    td(data-col="col7") 5:00 PM
                    td(data-col="col8") 8:00 AM
                tr
                    td(data-col="col1" data-value="Керчь (героевка)") Керчь (героевка)
                    td(data-col="col2") 8:00 AM
                    td(data-col="col3") --
                    td(data-col="col4") --
                    td(data-col="col5") 8:00 AM
                    td(data-col="col6") --
                    td(data-col="col7") 5:00 PM
                    td(data-col="col8") 8:00 AM
                tr
                    td(data-col="col1" data-value="Керчь(порт крым)") Керчь(порт крым)
                    td(data-col="col2") 8:00 AM
                    td(data-col="col3") --
                    td(data-col="col4") --
                    td(data-col="col5") 8:00 AM
                    td(data-col="col6") --
                    td(data-col="col7") 5:00 PM
                    td(data-col="col8") 8:00 AM
                tr
                    td(data-col="col1" data-value="Кикенеиз") Кикенеиз
                    td(data-col="col2") 8:00 AM
                    td(data-col="col3") --
                    td(data-col="col4") --
                    td(data-col="col5") 8:00 AM
                    td(data-col="col6") --
                    td(data-col="col7") 5:00 PM
                    td(data-col="col8") 8:00 AM
                tr
                    td(data-col="col1" data-value="Коктебель") Коктебель
                    td(data-col="col2") 8:00 AM
                    td(data-col="col3") --
                    td(data-col="col4") --
                    td(data-col="col5") 8:00 AM
                    td(data-col="col6") --
                    td(data-col="col7") 5:00 PM
                    td(data-col="col8") 8:00 AM
                tr
                    td(data-col="col1" data-value="Кореиз") Кореиз
                    td(data-col="col2") 8:00 AM
                    td(data-col="col3") --
                    td(data-col="col4") --
                    td(data-col="col5") 8:00 AM
                    td(data-col="col6") --
                    td(data-col="col7") 5:00 PM
                    td(data-col="col8") 8:00 AM
                tr
                    td(data-col="col1" data-value="Красные пещеры") Красные пещеры
                    td(data-col="col2") 8:00 AM
                    td(data-col="col3") --
                    td(data-col="col4") --
                    td(data-col="col5") 8:00 AM
                    td(data-col="col6") --
                    td(data-col="col7") 5:00 PM
                    td(data-col="col8") 8:00 AM
                tr
                    td(data-col="col1" data-value="Курортное (Белог. р-н)") Курортное (Белог. р-н)
                    td(data-col="col2") 8:00 AM
                    td(data-col="col3") --
                    td(data-col="col4") --
                    td(data-col="col5") 8:00 AM
                    td(data-col="col6") --
                    td(data-col="col7") 5:00 PM
                    td(data-col="col8") 8:00 AM
                tr
                    td(data-col="col1" data-value="Курортное (Керчь)") Курортное (Керчь)
                    td(data-col="col2") 8:00 AM
                    td(data-col="col3") --
                    td(data-col="col4") --
                    td(data-col="col5") 8:00 AM
                    td(data-col="col6") --
                    td(data-col="col7") 5:00 PM
                    td(data-col="col8") 8:00 AM
                tr
                    td(data-col="col1" data-value="Курортное (Ленин. р-н)") Курортное (Ленин. р-н)
                    td(data-col="col2") 8:00 AM
                    td(data-col="col3") --
                    td(data-col="col4") --
                    td(data-col="col5") 8:00 AM
                    td(data-col="col6") --
                    td(data-col="col7") 5:00 PM
                    td(data-col="col8") 8:00 AM
                tr
                    td(data-col="col1" data-value="Курортное (Феодос. р-н)") Курортное (Феодос. р-н)
                    td(data-col="col2") 8:00 AM
                    td(data-col="col3") --
                    td(data-col="col4") --
                    td(data-col="col5") 8:00 AM
                    td(data-col="col6") --
                    td(data-col="col7") 5:00 PM
                    td(data-col="col8") 8:00 AM
                tr
                    td(data-col="col1" data-value="Курортное (Щебетовка)") Курортное (Щебетовка)
                    td(data-col="col2") 8:00 AM
                    td(data-col="col3") --
                    td(data-col="col4") --
                    td(data-col="col5") 8:00 AM
                    td(data-col="col6") --
                    td(data-col="col7") 5:00 PM
                    td(data-col="col8") 8:00 AM
                tr
                    td(data-col="col1" data-value="Курпаты") Курпаты
                    td(data-col="col2") 8:00 AM
                    td(data-col="col3") --
                    td(data-col="col4") --
                    td(data-col="col5") 8:00 AM
                    td(data-col="col6") --
                    td(data-col="col7") 5:00 PM
                    td(data-col="col8") 8:00 AM
                tr
                    td(data-col="col1" data-value="Лавровое") Лавровое
                    td(data-col="col2") 8:00 AM
                    td(data-col="col3") --
                    td(data-col="col4") --
                    td(data-col="col5") 8:00 AM
                    td(data-col="col6") --
                    td(data-col="col7") 5:00 PM
                    td(data-col="col8") 8:00 AM
                tr
                    td(data-col="col1" data-value="Лазурное") Лазурное
                    td(data-col="col2") 8:00 AM
                    td(data-col="col3") --
                    td(data-col="col4") --
                    td(data-col="col5") 8:00 AM
                    td(data-col="col6") --
                    td(data-col="col7") 5:00 PM
                    td(data-col="col8") 8:00 AM
                tr
                    td(data-col="col1" data-value="Ласпи") Ласпи
                    td(data-col="col2") 8:00 AM
                    td(data-col="col3") --
                    td(data-col="col4") --
                    td(data-col="col5") 8:00 AM
                    td(data-col="col6") --
                    td(data-col="col7") 5:00 PM
                    td(data-col="col8") 8:00 AM
                tr
                    td(data-col="col1" data-value="Ленино") Ленино
                    td(data-col="col2") 8:00 AM
                    td(data-col="col3") --
                    td(data-col="col4") --
                    td(data-col="col5") 8:00 AM
                    td(data-col="col6") --
                    td(data-col="col7") 5:00 PM
                    td(data-col="col8") 8:00 AM
                tr
                    td(data-col="col1" data-value="Ливадия") Ливадия
                    td(data-col="col2") 8:00 AM
                    td(data-col="col3") --
                    td(data-col="col4") --
                    td(data-col="col5") 8:00 AM
                    td(data-col="col6") --
                    td(data-col="col7") 5:00 PM
                    td(data-col="col8") 8:00 AM
                tr
                    td(data-col="col1" data-value="Малореченское") Малореченское
                    td(data-col="col2") 8:00 AM
                    td(data-col="col3") --
                    td(data-col="col4") --
                    td(data-col="col5") 8:00 AM
                    td(data-col="col6") --
                    td(data-col="col7") 5:00 PM
                    td(data-col="col8") 8:00 AM
                tr
                    td(data-col="col1" data-value="Массандра") Массандра
                    td(data-col="col2") 8:00 AM
                    td(data-col="col3") --
                    td(data-col="col4") --
                    td(data-col="col5") 8:00 AM
                    td(data-col="col6") --
                    td(data-col="col7") 5:00 PM
                    td(data-col="col8") 8:00 AM
                tr
                    td(data-col="col1" data-value="Межводное") Межводное
                    td(data-col="col2") 8:00 AM
                    td(data-col="col3") --
                    td(data-col="col4") --
                    td(data-col="col5") 8:00 AM
                    td(data-col="col6") --
                    td(data-col="col7") 5:00 PM
                    td(data-col="col8") 8:00 AM
                tr
                    td(data-col="col1" data-value="Меллас") Меллас
                    td(data-col="col2") 8:00 AM
                    td(data-col="col3") --
                    td(data-col="col4") --
                    td(data-col="col5") 8:00 AM
                    td(data-col="col6") --
                    td(data-col="col7") 5:00 PM
                    td(data-col="col8") 8:00 AM
                tr
                    td(data-col="col1" data-value="Мирный(казантип)") Мирный(казантип)
                    td(data-col="col2") 8:00 AM
                    td(data-col="col3") --
                    td(data-col="col4") --
                    td(data-col="col5") 8:00 AM
                    td(data-col="col6") --
                    td(data-col="col7") 5:00 PM
                    td(data-col="col8") 8:00 AM
                tr
                    td(data-col="col1" data-value="Мисхор") Мисхор
                    td(data-col="col2") 8:00 AM
                    td(data-col="col3") --
                    td(data-col="col4") --
                    td(data-col="col5") 8:00 AM
                    td(data-col="col6") --
                    td(data-col="col7") 5:00 PM
                    td(data-col="col8") 8:00 AM
                tr
                    td(data-col="col1" data-value="Морское") Морское
                    td(data-col="col2") 8:00 AM
                    td(data-col="col3") --
                    td(data-col="col4") --
                    td(data-col="col5") 8:00 AM
                    td(data-col="col6") --
                    td(data-col="col7") 5:00 PM
                    td(data-col="col8") 8:00 AM
                tr
                    td(data-col="col1" data-value="Мраморные пещеры") Мраморные пещеры
                    td(data-col="col2") 8:00 AM
                    td(data-col="col3") --
                    td(data-col="col4") --
                    td(data-col="col5") 8:00 AM
                    td(data-col="col6") --
                    td(data-col="col7") 5:00 PM
                    td(data-col="col8") 8:00 AM
                tr
                    td(data-col="col1" data-value="Мрия резорт СКК") Мрия резорт СКК
                    td(data-col="col2") 8:00 AM
                    td(data-col="col3") --
                    td(data-col="col4") --
                    td(data-col="col5") 8:00 AM
                    td(data-col="col6") --
                    td(data-col="col7") 5:00 PM
                    td(data-col="col8") 8:00 AM
                tr
                    td(data-col="col1" data-value="Мысовое(щелкино)") Мысовое(щелкино)
                    td(data-col="col2") 8:00 AM
                    td(data-col="col3") --
                    td(data-col="col4") --
                    td(data-col="col5") 8:00 AM
                    td(data-col="col6") --
                    td(data-col="col7") 5:00 PM
                    td(data-col="col8") 8:00 AM
                tr
                    td(data-col="col1" data-value="Научный") Научный
                    td(data-col="col2") 8:00 AM
                    td(data-col="col3") --
                    td(data-col="col4") --
                    td(data-col="col5") 8:00 AM
                    td(data-col="col6") --
                    td(data-col="col7") 5:00 PM
                    td(data-col="col8") 8:00 AM
                tr
                    td(data-col="col1" data-value="Нижнегорское") Нижнегорское
                    td(data-col="col2") 8:00 AM
                    td(data-col="col3") --
                    td(data-col="col4") --
                    td(data-col="col5") 8:00 AM
                    td(data-col="col6") --
                    td(data-col="col7") 5:00 PM
                    td(data-col="col8") 8:00 AM
                tr
                    td(data-col="col1" data-value="Нижняя Ореанда") Нижняя Ореанда
                    td(data-col="col2") 8:00 AM
                    td(data-col="col3") --
                    td(data-col="col4") --
                    td(data-col="col5") 8:00 AM
                    td(data-col="col6") --
                    td(data-col="col7") 5:00 PM
                    td(data-col="col8") 8:00 AM
                tr
                    td(data-col="col1" data-value="Никита") Никита
                    td(data-col="col2") 8:00 AM
                    td(data-col="col3") --
                    td(data-col="col4") --
                    td(data-col="col5") 8:00 AM
                    td(data-col="col6") --
                    td(data-col="col7") 5:00 PM
                    td(data-col="col8") 8:00 AM
                tr
                    td(data-col="col1" data-value="Николаевка") Николаевка
                    td(data-col="col2") 8:00 AM
                    td(data-col="col3") --
                    td(data-col="col4") --
                    td(data-col="col5") 8:00 AM
                    td(data-col="col6") --
                    td(data-col="col7") 5:00 PM
                    td(data-col="col8") 8:00 AM
                tr
                    td(data-col="col1" data-value="Николаевка(Украина)") Николаевка(Украина)
                    td(data-col="col2") 8:00 AM
                    td(data-col="col3") --
                    td(data-col="col4") --
                    td(data-col="col5") 8:00 AM
                    td(data-col="col6") --
                    td(data-col="col7") 5:00 PM
                    td(data-col="col8") 8:00 AM
                tr
                    td(data-col="col1" data-value="Новоозерное") Новоозерное
                    td(data-col="col2") 8:00 AM
                    td(data-col="col3") --
                    td(data-col="col4") --
                    td(data-col="col5") 8:00 AM
                    td(data-col="col6") --
                    td(data-col="col7") 5:00 PM
                    td(data-col="col8") 8:00 AM
                tr
                    td(data-col="col1" data-value="Новоотрадное") Новоотрадное
                    td(data-col="col2") 8:00 AM
                    td(data-col="col3") --
                    td(data-col="col4") --
                    td(data-col="col5") 8:00 AM
                    td(data-col="col6") --
                    td(data-col="col7") 5:00 PM
                    td(data-col="col8") 8:00 AM
                tr
                    td(data-col="col1" data-value="Новофедоровка") Новофедоровка
                    td(data-col="col2") 8:00 AM
                    td(data-col="col3") --
                    td(data-col="col4") --
                    td(data-col="col5") 8:00 AM
                    td(data-col="col6") --
                    td(data-col="col7") 5:00 PM
                    td(data-col="col8") 8:00 AM
                tr
                    td(data-col="col1" data-value="Новый свет") Новый свет
                    td(data-col="col2") 8:00 AM
                    td(data-col="col3") --
                    td(data-col="col4") --
                    td(data-col="col5") 8:00 AM
                    td(data-col="col6") --
                    td(data-col="col7") 5:00 PM
                    td(data-col="col8") 8:00 AM
                tr
                    td(data-col="col1" data-value="Окуневка") Окуневка
                    td(data-col="col2") 8:00 AM
                    td(data-col="col3") --
                    td(data-col="col4") --
                    td(data-col="col5") 8:00 AM
                    td(data-col="col6") --
                    td(data-col="col7") 5:00 PM
                    td(data-col="col8") 8:00 AM
                tr
                    td(data-col="col1" data-value="Оленевка") Оленевка
                    td(data-col="col2") 8:00 AM
                    td(data-col="col3") --
                    td(data-col="col4") --
                    td(data-col="col5") 8:00 AM
                    td(data-col="col6") --
                    td(data-col="col7") 5:00 PM
                    td(data-col="col8") 8:00 AM
                tr
                    td(data-col="col1" data-value="Олива") Олива
                    td(data-col="col2") 8:00 AM
                    td(data-col="col3") --
                    td(data-col="col4") --
                    td(data-col="col5") 8:00 AM
                    td(data-col="col6") --
                    td(data-col="col7") 5:00 PM
                    td(data-col="col8") 8:00 AM
                tr
                    td(data-col="col1" data-value="Оползневое (Мрия Резорт))") Оползневое (Мрия Резорт))
                    td(data-col="col2") 8:00 AM
                    td(data-col="col3") --
                    td(data-col="col4") --
                    td(data-col="col5") 8:00 AM
                    td(data-col="col6") --
                    td(data-col="col7") 5:00 PM
                    td(data-col="col8") 8:00 AM
                tr
                    td(data-col="col1" data-value="Орджоникидзе") Орджоникидзе
                    td(data-col="col2") 8:00 AM
                    td(data-col="col3") --
                    td(data-col="col4") --
                    td(data-col="col5") 8:00 AM
                    td(data-col="col6") --
                    td(data-col="col7") 5:00 PM
                    td(data-col="col8") 8:00 AM
                tr
                    td(data-col="col1" data-value="Орлиное") Орлиное
                    td(data-col="col2") 8:00 AM
                    td(data-col="col3") --
                    td(data-col="col4") --
                    td(data-col="col5") 8:00 AM
                    td(data-col="col6") --
                    td(data-col="col7") 5:00 PM
                    td(data-col="col8") 8:00 AM
                tr
                    td(data-col="col1" data-value="Орловка") Орловка
                    td(data-col="col2") 8:00 AM
                    td(data-col="col3") --
                    td(data-col="col4") --
                    td(data-col="col5") 8:00 AM
                    td(data-col="col6") --
                    td(data-col="col7") 5:00 PM
                    td(data-col="col8") 8:00 AM
                tr
                    td(data-col="col1" data-value="Отрадное") Отрадное
                    td(data-col="col2") 8:00 AM
                    td(data-col="col3") --
                    td(data-col="col4") --
                    td(data-col="col5") 8:00 AM
                    td(data-col="col6") --
                    td(data-col="col7") 5:00 PM
                    td(data-col="col8") 8:00 AM
                tr
                    td(data-col="col1" data-value="Парковое") Парковое
                    td(data-col="col2") 8:00 AM
                    td(data-col="col3") --
                    td(data-col="col4") --
                    td(data-col="col5") 8:00 AM
                    td(data-col="col6") --
                    td(data-col="col7") 5:00 PM
                    td(data-col="col8") 8:00 AM
                tr
                    td(data-col="col1" data-value="Партенит") Партенит
                    td(data-col="col2") 8:00 AM
                    td(data-col="col3") --
                    td(data-col="col4") --
                    td(data-col="col5") 8:00 AM
                    td(data-col="col6") --
                    td(data-col="col7") 5:00 PM
                    td(data-col="col8") 8:00 AM
                tr
                    td(data-col="col1" data-value="Песочное (Щелкино)") Песочное (Щелкино)
                    td(data-col="col2") 8:00 AM
                    td(data-col="col3") --
                    td(data-col="col4") --
                    td(data-col="col5") 8:00 AM
                    td(data-col="col6") --
                    td(data-col="col7") 5:00 PM
                    td(data-col="col8") 8:00 AM
                tr
                    td(data-col="col1" data-value="Песчаное") Песчаное
                    td(data-col="col2") 8:00 AM
                    td(data-col="col3") --
                    td(data-col="col4") --
                    td(data-col="col5") 8:00 AM
                    td(data-col="col6") --
                    td(data-col="col7") 5:00 PM
                    td(data-col="col8") 8:00 AM
                tr
                    td(data-col="col1" data-value="Понизовка (СКК Мрия)") Понизовка (СКК Мрия)
                    td(data-col="col2") 8:00 AM
                    td(data-col="col3") --
                    td(data-col="col4") --
                    td(data-col="col5") 8:00 AM
                    td(data-col="col6") --
                    td(data-col="col7") 5:00 PM
                    td(data-col="col8") 8:00 AM
                tr
                    td(data-col="col1" data-value="Поповка") Поповка
                    td(data-col="col2") 8:00 AM
                    td(data-col="col3") --
                    td(data-col="col4") --
                    td(data-col="col5") 8:00 AM
                    td(data-col="col6") --
                    td(data-col="col7") 5:00 PM
                    td(data-col="col8") 8:00 AM
                tr
                    td(data-col="col1" data-value="Прибрежное (Саки)") Прибрежное (Саки)
                    td(data-col="col2") 8:00 AM
                    td(data-col="col3") --
                    td(data-col="col4") --
                    td(data-col="col5") 8:00 AM
                    td(data-col="col6") --
                    td(data-col="col7") 5:00 PM
                    td(data-col="col8") 8:00 AM
                tr
                    td(data-col="col1" data-value="Приветное") Приветное
                    td(data-col="col2") 8:00 AM
                    td(data-col="col3") --
                    td(data-col="col4") --
                    td(data-col="col5") 8:00 AM
                    td(data-col="col6") --
                    td(data-col="col7") 5:00 PM
                    td(data-col="col8") 8:00 AM
                tr
                    td(data-col="col1" data-value="Раздольное") Раздольное
                    td(data-col="col2") 8:00 AM
                    td(data-col="col3") --
                    td(data-col="col4") --
                    td(data-col="col5") 8:00 AM
                    td(data-col="col6") --
                    td(data-col="col7") 5:00 PM
                    td(data-col="col8") 8:00 AM
                tr
                    td(data-col="col1" data-value="Рыбачье") Рыбачье
                    td(data-col="col2") 8:00 AM
                    td(data-col="col3") --
                    td(data-col="col4") --
                    td(data-col="col5") 8:00 AM
                    td(data-col="col6") --
                    td(data-col="col7") 5:00 PM
                    td(data-col="col8") 8:00 AM
                tr
                    td(data-col="col1" data-value="Саки") Саки
                    td(data-col="col2") 8:00 AM
                    td(data-col="col3") --
                    td(data-col="col4") --
                    td(data-col="col5") 8:00 AM
                    td(data-col="col6") --
                    td(data-col="col7") 5:00 PM
                    td(data-col="col8") 8:00 AM
                tr
                    td(data-col="col1" data-value="Саки (полтава)") Саки (полтава)
                    td(data-col="col2") 8:00 AM
                    td(data-col="col3") --
                    td(data-col="col4") --
                    td(data-col="col5") 8:00 AM
                    td(data-col="col6") --
                    td(data-col="col7") 5:00 PM
                    td(data-col="col8") 8:00 AM
                tr
                    td(data-col="col1" data-value="Санаторное") Санаторное
                    td(data-col="col2") 8:00 AM
                    td(data-col="col3") --
                    td(data-col="col4") --
                    td(data-col="col5") 8:00 AM
                    td(data-col="col6") --
                    td(data-col="col7") 5:00 PM
                    td(data-col="col8") 8:00 AM
                tr
                    td(data-col="col1" data-value="Сатера") Сатера
                    td(data-col="col2") 8:00 AM
                    td(data-col="col3") --
                    td(data-col="col4") --
                    td(data-col="col5") 8:00 AM
                    td(data-col="col6") --
                    td(data-col="col7") 5:00 PM
                    td(data-col="col8") 8:00 AM
                tr
                    td(data-col="col1" data-value="Севастополь (Гагар. р-н)") Севастополь (Гагар. р-н)
                    td(data-col="col2") 8:00 AM
                    td(data-col="col3") --
                    td(data-col="col4") --
                    td(data-col="col5") 8:00 AM
                    td(data-col="col6") --
                    td(data-col="col7") 5:00 PM
                    td(data-col="col8") 8:00 AM
                tr
                    td(data-col="col1" data-value="Севастополь (Голландия)") Севастополь (Голландия)
                    td(data-col="col2") 8:00 AM
                    td(data-col="col3") --
                    td(data-col="col4") --
                    td(data-col="col5") 8:00 AM
                    td(data-col="col6") --
                    td(data-col="col7") 5:00 PM
                    td(data-col="col8") 8:00 AM
                tr
                    td(data-col="col1" data-value="Севастополь (Ленин. р-н)") Севастополь (Ленин. р-н)
                    td(data-col="col2") 8:00 AM
                    td(data-col="col3") --
                    td(data-col="col4") --
                    td(data-col="col5") 8:00 AM
                    td(data-col="col6") --
                    td(data-col="col7") 5:00 PM
                    td(data-col="col8") 8:00 AM
                tr
                    td(data-col="col1" data-value="Севастополь (Любимовка)") Севастополь (Любимовка)
                    td(data-col="col2") 8:00 AM
                    td(data-col="col3") --
                    td(data-col="col4") --
                    td(data-col="col5") 8:00 AM
                    td(data-col="col6") --
                    td(data-col="col7") 5:00 PM
                    td(data-col="col8") 8:00 AM
                tr
                    td(data-col="col1" data-value="Севастополь (Радиогорка)") Севастополь (Радиогорка)
                    td(data-col="col2") 8:00 AM
                    td(data-col="col3") --
                    td(data-col="col4") --
                    td(data-col="col5") 8:00 AM
                    td(data-col="col6") --
                    td(data-col="col7") 5:00 PM
                    td(data-col="col8") 8:00 AM
                tr
                    td(data-col="col1" data-value="Севастополь (Учкуевка )") Севастополь (Учкуевка )
                    td(data-col="col2") 8:00 AM
                    td(data-col="col3") --
                    td(data-col="col4") --
                    td(data-col="col5") 8:00 AM
                    td(data-col="col6") --
                    td(data-col="col7") 5:00 PM
                    td(data-col="col8") 8:00 AM
                tr
                    td(data-col="col1" data-value="Севастополь (Фиолент)") Севастополь (Фиолент)
                    td(data-col="col2") 8:00 AM
                    td(data-col="col3") --
                    td(data-col="col4") --
                    td(data-col="col5") 8:00 AM
                    td(data-col="col6") --
                    td(data-col="col7") 5:00 PM
                    td(data-col="col8") 8:00 AM
                tr
                    td(data-col="col1" data-value="Семидворье") Семидворье
                    td(data-col="col2") 8:00 AM
                    td(data-col="col3") --
                    td(data-col="col4") --
                    td(data-col="col5") 8:00 AM
                    td(data-col="col6") --
                    td(data-col="col7") 5:00 PM
                    td(data-col="col8") 8:00 AM
                tr
                    td(data-col="col1" data-value="Симеиз") Симеиз
                    td(data-col="col2") 8:00 AM
                    td(data-col="col3") --
                    td(data-col="col4") --
                    td(data-col="col5") 8:00 AM
                    td(data-col="col6") --
                    td(data-col="col7") 5:00 PM
                    td(data-col="col8") 8:00 AM
                tr
                    td(data-col="col1" data-value="Симферополь") Симферополь
                    td(data-col="col2") 8:00 AM
                    td(data-col="col3") --
                    td(data-col="col4") --
                    td(data-col="col5") 8:00 AM
                    td(data-col="col6") --
                    td(data-col="col7") 5:00 PM
                    td(data-col="col8") 8:00 AM
                tr
                    td(data-col="col1" data-value="Соколиное") Соколиное
                    td(data-col="col2") 8:00 AM
                    td(data-col="col3") --
                    td(data-col="col4") --
                    td(data-col="col5") 8:00 AM
                    td(data-col="col6") --
                    td(data-col="col7") 5:00 PM
                    td(data-col="col8") 8:00 AM
                tr
                    td(data-col="col1" data-value="Солнечная Долина") Солнечная Долина
                    td(data-col="col2") 8:00 AM
                    td(data-col="col3") --
                    td(data-col="col4") --
                    td(data-col="col5") 8:00 AM
                    td(data-col="col6") --
                    td(data-col="col7") 5:00 PM
                    td(data-col="col8") 8:00 AM
                tr
                    td(data-col="col1" data-value="Солнечногорское") Солнечногорское
                    td(data-col="col2") 8:00 AM
                    td(data-col="col3") --
                    td(data-col="col4") --
                    td(data-col="col5") 8:00 AM
                    td(data-col="col6") --
                    td(data-col="col7") 5:00 PM
                    td(data-col="col8") 8:00 AM
                tr
                    td(data-col="col1" data-value="Сотера") Сотера
                    td(data-col="col2") 8:00 AM
                    td(data-col="col3") --
                    td(data-col="col4") --
                    td(data-col="col5") 8:00 AM
                    td(data-col="col6") --
                    td(data-col="col7") 5:00 PM
                    td(data-col="col8") 8:00 AM
                tr
                    td(data-col="col1" data-value="Старый Крым") Старый Крым
                    td(data-col="col2") 8:00 AM
                    td(data-col="col3") --
                    td(data-col="col4") --
                    td(data-col="col5") 8:00 AM
                    td(data-col="col6") --
                    td(data-col="col7") 5:00 PM
                    td(data-col="col8") 8:00 AM
                tr
                    td(data-col="col1" data-value="Судак") Судак
                    td(data-col="col2") 8:00 AM
                    td(data-col="col3") --
                    td(data-col="col4") --
                    td(data-col="col5") 8:00 AM
                    td(data-col="col6") --
                    td(data-col="col7") 5:00 PM
                    td(data-col="col8") 8:00 AM
                tr
                    td(data-col="col1" data-value="Угловое") Угловое
                    td(data-col="col2") 8:00 AM
                    td(data-col="col3") --
                    td(data-col="col4") --
                    td(data-col="col5") 8:00 AM
                    td(data-col="col6") --
                    td(data-col="col7") 5:00 PM
                    td(data-col="col8") 8:00 AM
                tr
                    td(data-col="col1" data-value="Утёс") Утёс
                    td(data-col="col2") 8:00 AM
                    td(data-col="col3") --
                    td(data-col="col4") --
                    td(data-col="col5") 8:00 AM
                    td(data-col="col6") --
                    td(data-col="col7") 5:00 PM
                    td(data-col="col8") 8:00 AM
                tr
                    td(data-col="col1" data-value="Феодосия") Феодосия
                    td(data-col="col2") 8:00 AM
                    td(data-col="col3") --
                    td(data-col="col4") --
                    td(data-col="col5") 8:00 AM
                    td(data-col="col6") --
                    td(data-col="col7") 5:00 PM
                    td(data-col="col8") 8:00 AM
                tr
                    td(data-col="col1" data-value="Феодосия (Приморский)") Феодосия (Приморский)
                    td(data-col="col2") 8:00 AM
                    td(data-col="col3") --
                    td(data-col="col4") --
                    td(data-col="col5") 8:00 AM
                    td(data-col="col6") --
                    td(data-col="col7") 5:00 PM
                    td(data-col="col8") 8:00 AM
                tr
                    td(data-col="col1" data-value="Феодосия(Береговое)") Феодосия(Береговое)
                    td(data-col="col2") 8:00 AM
                    td(data-col="col3") --
                    td(data-col="col4") --
                    td(data-col="col5") 8:00 AM
                    td(data-col="col6") --
                    td(data-col="col7") 5:00 PM
                    td(data-col="col8") 8:00 AM
                tr
                    td(data-col="col1" data-value="Форос") Форос
                    td(data-col="col2") 8:00 AM
                    td(data-col="col3") --
                    td(data-col="col4") --
                    td(data-col="col5") 8:00 AM
                    td(data-col="col6") --
                    td(data-col="col7") 5:00 PM
                    td(data-col="col8") 8:00 AM
                tr
                    td(data-col="col1" data-value="Фрунзе") Фрунзе
                    td(data-col="col2") 8:00 AM
                    td(data-col="col3") --
                    td(data-col="col4") --
                    td(data-col="col5") 8:00 AM
                    td(data-col="col6") --
                    td(data-col="col7") 5:00 PM
                    td(data-col="col8") 8:00 AM
                tr
                    td(data-col="col1" data-value="Херсон (Украина)") Херсон (Украина)
                    td(data-col="col2") 8:00 AM
                    td(data-col="col3") --
                    td(data-col="col4") --
                    td(data-col="col5") 8:00 AM
                    td(data-col="col6") --
                    td(data-col="col7") 5:00 PM
                    td(data-col="col8") 8:00 AM
                tr
                    td(data-col="col1" data-value="Черноморское") Черноморское
                    td(data-col="col2") 8:00 AM
                    td(data-col="col3") --
                    td(data-col="col4") --
                    td(data-col="col5") 8:00 AM
                    td(data-col="col6") --
                    td(data-col="col7") 5:00 PM
                    td(data-col="col8") 8:00 AM
                tr
                    td(data-col="col1" data-value="Чонгар") Чонгар
                    td(data-col="col2") 8:00 AM
                    td(data-col="col3") --
                    td(data-col="col4") --
                    td(data-col="col5") 8:00 AM
                    td(data-col="col6") --
                    td(data-col="col7") 5:00 PM
                    td(data-col="col8") 8:00 AM
                tr
                    td(data-col="col1" data-value="Штормовое") Штормовое
                    td(data-col="col2") 8:00 AM
                    td(data-col="col3") --
                    td(data-col="col4") --
                    td(data-col="col5") 8:00 AM
                    td(data-col="col6") --
                    td(data-col="col7") 5:00 PM
                    td(data-col="col8") 8:00 AM
                tr
                    td(data-col="col1" data-value="Щебетовка") Щебетовка
                    td(data-col="col2") 8:00 AM
                    td(data-col="col3") --
                    td(data-col="col4") --
                    td(data-col="col5") 8:00 AM
                    td(data-col="col6") --
                    td(data-col="col7") 5:00 PM
                    td(data-col="col8") 8:00 AM
                tr
                    td(data-col="col1" data-value="Щелкино") Щелкино
                    td(data-col="col2") 8:00 AM
                    td(data-col="col3") --
                    td(data-col="col4") --
                    td(data-col="col5") 8:00 AM
                    td(data-col="col6") --
                    td(data-col="col7") 5:00 PM
                    td(data-col="col8") 8:00 AM
                tr
                    td(data-col="col1" data-value="Щелкино (Азовский)") Щелкино (Азовский)
                    td(data-col="col2") 8:00 AM
                    td(data-col="col3") --
                    td(data-col="col4") --
                    td(data-col="col5") 8:00 AM
                    td(data-col="col6") --
                    td(data-col="col7") 5:00 PM
                    td(data-col="col8") 8:00 AM
                tr
                    td(data-col="col1" data-value="Ялта") Ялта
                    td(data-col="col2") 8:00 AM
                    td(data-col="col3") --
                    td(data-col="col4") --
                    td(data-col="col5") 8:00 AM
                    td(data-col="col6") --
                    td(data-col="col7") 5:00 PM
                    td(data-col="col8") 8:00 AM
