.modal(data-js="modal" id="modal-1").-top
    button.modal_close-btn(data-js="closeBtn")
    .modal_body
        +promo({
            type: 'light',
            title: 'Light promo block',
            content: '<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquid debitis eaque earum est ex exercitationem fugit, illo itaque nisi nostrum possimus quis recusandae repellat suscipit tempore vero vitae voluptates.</p>',
            btn_text: 'Read more'
        })

