.modal(data-js="modal" id="modal-2").-small
    button.modal_close-btn(data-js="closeBtn")
    .modal_heading.h4 Lorem ipsum dolor sit amet.
    .modal_body
        .container
            .row
                .col-12
                    p Lorem ipsum dolor sit amet, consectetur adipisic corporis molestiae?
            br
            .row
                .col-6
                    button.btn-default(data-js="closeBtn") Cancel
                .col-6._text-right
                    button.btn-green(data-js="closeBtn") Accept