.modal(data-js="modal" id="modal-1").-top.-gallery
    button.modal_close-btn(data-js="closeBtn")
    .modal_body
        +gallery([
            'img/tmp/photo-1.jpg',
            'img/tmp/photo-2.jpg',
            'img/tmp/photo-3.jpg',
            'img/tmp/photo-4.jpg',
            'img/tmp/photo-5.jpg',
            'img/tmp/photo-6.jpg',
            'img/tmp/photo-7.jpg',
            'img/tmp/photo-8.jpg',
            'img/tmp/photo-9.jpg'
        ])

