.feedback {
    &-container, &-launch-button {
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
        border-top-right-radius: 8px;
        border-top-left-radius: 8px;
        position: fixed;
        bottom: 0;
        right: 20px;
        opacity: 1;
        z-index: 100;
    }

    &-hide {
        transform: translateY(100%);
        opacity: 0;
    }

    &-container {
        transition: all .6s ease-in-out;
        background: $light;
        width: 350px;

        @include media(xs) {
            width: 280px;
        }
    }

    &-launch-button {
        transition: all .3s ease-in-out;
        padding: 7px 20px;
        background: $primary-color;
        display: flex;
        align-items: center;
        color: $light;
        cursor: pointer;
        border: none;
        outline: none;
        font-weight: 500;

        i {
            font-size: 35px;
        }

        span {
            display: inline-block;
            margin-left: 15px;

            @include media(sm) {
                display: none;
            }
        }
    }

    &-top-bar {
        font-weight: 500;
        padding: 13px 20px;
        background: $primary-color;
        color: $light;
        border-top-right-radius: 8px;
        border-top-left-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &_button {
            font-size: 20px;
            cursor: pointer;
            transition: transform 0.15s ease;

            &:hover {
                transform: translateY(10%);
            }
        }
    }

    &-conversation-container {
        padding: 20px;
    }

    &-form-container {
        display: inline-block;
        width: 100%;
    }
}