.card-row{
    display: flex;
    @extend .-equal-height;

    margin-bottom: -20px;
}

.card{
    flex: 1;
    padding: 25px;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    transition: box-shadow 0.15s;
    margin-bottom: 20px;

    > * {
        max-width: 100%; //fix IE overflow bug
    }

    &.-frame{
        padding: 20px;
        background: $gray-light;

        @include media(md) {
            padding: 15px;
        }

        &:hover {
            box-shadow: 0 0 10px rgba(0,0,0,0.2);
        }

        .card_image{
            min-height: 200px;
            margin: -20px -20px 20px;
            max-width: none;

            @include media(md) {
                min-height: 220px;
                margin: -15px -15px 15px;
            }
        }

        .card_content{
            margin-top: 10px;
        }
    }

    &.-solid{
        position: relative;
        color: $light;
        justify-content: flex-end;
        min-height: 450px;
        padding: 40px 30px 25px 40px;

        @include media(md) {
            padding: 25px;
            min-height: 300px;
        }

        &:hover {
            .card_overlay {
                background-color: transparent !important;
            }
        }

        .card_image{
            @include overlay;
            z-index: -1;
        }
    }
    &.-advantage {
        background-color: $gray-light;
        padding: 25px;
        box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);

        .card_content {
            color: $gray-dark;
            font-size: 15px;
            line-height: 1.2;
        }

        .card_icon {
            font-size: 90px;
            color: lighten($blue, 30%);
            margin-bottom: 20px;
            margin-left: auto;
            margin-right: auto;
        }

        .card_title {
            font-weight: 600;
        }
    }


    &_overlay {
        @include overlay;
        opacity: 0.4;
        z-index: -1;
        transition: background-color 0.5s;
        background-color: $primary-color;
    }

    &_title {
        font-weight: bold;
        line-height: 1.2;
        @include createSize(24px);
    }

    &_link {
        @include underline-hover();
    }

    &_full-link{
        @include overlay;
    }

    &_image{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;

        &.-bg{
            @include bg;
            min-height: 250px;
        }

        img{
            max-width: 100px;
            max-height: 100px;
        }
    }

    &_content{
        margin-top: 15px;
        margin-bottom: 0;
        display: flex;
        position: relative;

        p{
            margin-bottom: 0;
        }

    }

    &_btn{
        align-self: flex-start;
        margin-top: auto;
        margin-left: 20px;

        &.-only-icon i:before {
            font-size: 17px;
            margin-left: 0.2em;
        }

        @include media(md) {
            margin-left: 15px;
        }
    }
}