extends ../templates/layout
block content
    .wrapper
        +header
        main.content
            +slider([
                {
                    module: 'hero',
                    settings: {
                        class: '-large',
                        image: 'img/tmp/hero-1.jpg',
                        title: 'Hier komt een introductietitel',
                        content: '<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Hoc positum in Phaedro a Platone probavit Epicurus sensitque in omni disputatione id fieri oportere. Duo enim genera quae erant, fecit tria. Duo Reges: constructio interrete. Summum ením bonum exposuit vacuitatem doloris; Miserum hominem! Si dolor summum malum est, dici aliter non potest.</p>',
                        heading_class: 'h3',
                        btn_text: 'BUTTON',
                        btn_class: 'btn-secondary',
                    }
                },
                {
                    module: 'hero',
                    settings: {
                        class: '-large',
                        image: 'img/tmp/hero-2.jpg',
                        title: 'Hier komt een introductietitel',
                        content: '<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Hoc positum in Phaedro a Platone probavit Epicurus sensitque in omni disputatione id fieri oportere. Duo enim genera quae erant, fecit tria. Duo Reges: constructio interrete. Summum ením bonum exposuit vacuitatem doloris; Miserum hominem! Si dolor summum malum est, dici aliter non potest.</p>',
                        heading_class: 'h3',
                        btn_text: 'BUTTON',
                        btn_class: 'btn-secondary',
                        btn2_text: 'BUTTON',
                        btn2_class: 'btn-primary',
                    }
                },
                {
                    module: 'hero',
                    settings: {
                        class: '-large',
                        image: 'img/tmp/hero-1.jpg',
                        title: 'Hier komt een introductietitel',
                        content: '<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Hoc positum in Phaedro a Platone probavit Epicurus sensitque in omni disputatione id fieri oportere. Duo enim genera quae erant, fecit tria. Duo Reges: constructio interrete. Summum ením bonum exposuit vacuitatem doloris; Miserum hominem! Si dolor summum malum est, dici aliter non potest.</p>',
                        heading_class: 'h3',
                        btn_text: 'BUTTON',
                        btn_class: 'btn-secondary',
                    }
                },
                {
                    module: 'hero',
                    settings: {
                        class: '-large',
                        image: 'img/tmp/hero-2.jpg',
                        title: 'Hier komt een introductietitel',
                        content: '<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Hoc positum in Phaedro a Platone probavit Epicurus sensitque in omni disputatione id fieri oportere. Duo enim genera quae erant, fecit tria. Duo Reges: constructio interrete. Summum ením bonum exposuit vacuitatem doloris; Miserum hominem! Si dolor summum malum est, dici aliter non potest.</p>',
                        heading_class: 'h3',
                        btn_text: 'BUTTON',
                        btn_class: 'btn-secondary',
                        btn2_text: 'BUTTON',
                        btn2_class: 'btn-primary',
                    }
                }
            ])
            br
            +hero({
                class: '-large',
                image: 'img/tmp/hero-1.jpg',
                heading_class: 'h3',
                title: 'Hier komt een introductietitel',
                content: '<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Hoc positum in Phaedro a Platone probavit Epicurus sensitque in omni disputatione id fieri oportere. Duo enim genera quae erant, fecit tria. Duo Reges: constructio interrete. Summum ením bonum exposuit vacuitatem doloris; Miserum hominem! Si dolor summum malum est, dici aliter non potest.</p>',
                btn_text: 'BUTTON',
                btn_class: 'btn-secondary',
                btn2_text: 'BUTTON',
                btn2_class: 'btn-secondary'
            })
            br
            +hero({
                class: '-medium',
                image: 'img/tmp/hero-1.jpg',
                heading_class: 'h3',
                title: 'Hier komt een introductietitel',
                btn_text: 'BUTTON',
                btn_class: 'btn-secondary'
            })
            br
            +hero({
                class: '-medium',
                image: 'img/tmp/hero-1.jpg',
                heading_class: 'h3',
                title: 'Hier komt een introductietitel',
                btn_text: 'BUTTON',
                btn_class: 'btn-secondary',
                btn2_text: 'BUTTON',
                btn2_class: 'btn-secondary'
            })
            br
            +hero({
                class: '-small',
                image: 'img/tmp/hero-2.jpg',
                heading_class: 'h3',
                title: 'Hier komt een introductietitel'
            })
            br
            +hero({
                class: '-small',
                image: 'img/tmp/hero-2.jpg',
                heading_class: 'h3',
                title: 'Hero block with parallax',
                parallax: true
            })
            br
            +slider([
                {
                    module: 'hero',
                    settings: {
                        class: '-small',
                        image: 'img/tmp/hero-2.jpg',
                        title: 'Hier komt een introductietitel',
                        heading_class: 'h3'
                    }
                },
                {
                    module: 'hero',
                    settings: {
                        class: '-small',
                        image: 'img/tmp/hero-1.jpg',
                        title: 'Hier komt een introductietitel',
                        heading_class: 'h3'
                    }
                },
                {
                    module: 'hero',
                    settings: {
                        class: '-small',
                        image: 'img/tmp/hero-2.jpg',
                        title: 'Hier komt een introductietitel',
                        heading_class: 'h3'
                    }
                },
                {
                    module: 'hero',
                    settings: {
                        class: '-small',
                        image: 'img/tmp/hero-1.jpg',
                        title: 'Hier komt een introductietitel',
                        heading_class: 'h3'
                    }
                }
            ])

        +footer










